<html>
<head>
  	<title>Pet Store Products</title>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<style type="text/css">
  		body {
	  		font-family: "helvetica", sans-serif;
			text-align: center;
		}

  	</style>
</head>
<body>
	<h1>Pet Store Products</h1>
	<!--h3>Categories</h3>
	<h3><a href="">Cats</a></h3>
	<h3><a href="">Dogs</a></h3>
	<h3><a href="">Birds</a></h3>
	<h3><a href="">Fish</a></h3-->

  	<!--table class="table">
	  	<thead>
	  		<tr>
	  			<th>ID</th>
	  			<th>Breed</th>
	  			<th>Specie</th>
	  			<th>Price</th>
	  			<th>Stock</th>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		{% for i in products %}
	  			<tr>
	  				<td>{{ i['id'] }}</td>
		  			<td>{{ i['breed'] }}</td>
		  			<td>{{ i['specie'] }}</td>
		  			<td>{{ i['price'] }}</td>
		  			<td>{{ i['stock'] }}</td>
		  		</tr>			
	  		{% endfor %}
	  	</tbody>	
  	</table-->
	
</body>
</html>
